#patient-search-form input {
  display: inline;
}

#patient-search-results {
  margin-top: 1em;
  display: none;
}
#patient-search-results .patient-search-result {
  padding: 10px 5px;
  cursor: pointer;
}
#patient-search-results .patient-search-result:nth-child(odd) {
  background-color: #eeeeee;
}
#patient-search-results .patient-search-result .patient-identifier {
  display: inline-block;
}
#patient-search-results .patient-search-result .patient-identifier .identifier-type {
  display: block;
  font-size: 0.6em;
  text-decoration: underline;
}
#patient-search-results .patient-search-result .patient-identifier .identifier {
  display: block;
}
#patient-search-results .patient-search-result .preferred-name {
  display: inline-block;
  font-size: 1.5em;
  padding: 5px;
  width: 50%;
}
#patient-search-results .patient-search-result .age, #patient-search-results .patient-search-result .gender {
  font-size: 1.2em;
}
#patient-search-results .patient-search-result a {
  float: right;
}
#patient-search-results #patient-search-results-table tbody tr:hover {
  background-color: #f26522;
  cursor: pointer;
}
#patient-search-results #patient-search-results-table tbody tr:hover {
  background: #007fff;
  cursor: pointer;
  color: white;
}
#patient-search-results #patient-search-results-table tbody tr td.dataTables_empty:hover {
  background: white;
  cursor: default;
  color: #363463;
}
#patient-search-results #patient-search-results-table_wrapper {
  min-height: 0px;
}

.search_table_row_highlight {
  background-color: #f26522 !important;
}

.search-widget-info {
  font-size: 0.7em;
  font-style: italic;
}

.recent-lozenge {
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 0.7em;
  border: 1px solid #51a351;
  color: #51a351;
  padding: 1px 2px;
  border-radius: 4px;
}

img.search-spinner {
  vertical-align: middle;
}

.patient-search-error {
  color: #ff6666;
}

#patient-search-clear-button {
  position: relative;
  right: 25px;
}
